[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sudhanshu Gupta (sudhanshu-gupta)
[access "refs/for/refs/*"]
	read = group user/Sudhanshu Gupta (sudhanshu-gupta)
	push = group user/Sudhanshu Gupta (sudhanshu-gupta)
	label-Code-Review = -2..+2 group user/Sudhanshu Gupta (sudhanshu-gupta)
	label-Verified = -1..+1 group user/Sudhanshu Gupta (sudhanshu-gupta)
	rebase = group user/Sudhanshu Gupta (sudhanshu-gupta)
	removeReviewer = group user/Sudhanshu Gupta (sudhanshu-gupta)
	submit = group user/Sudhanshu Gupta (sudhanshu-gupta)
[access "refs/heads/*"]
	read = group user/Sudhanshu Gupta (sudhanshu-gupta)
	create = group user/Sudhanshu Gupta (sudhanshu-gupta)
	push = +force group user/Sudhanshu Gupta (sudhanshu-gupta)
	pushMerge = group user/Sudhanshu Gupta (sudhanshu-gupta)
[access "refs/tags/*"]
	push = +force group user/Sudhanshu Gupta (sudhanshu-gupta)
	pushTag = group user/Sudhanshu Gupta (sudhanshu-gupta)
	pushSignedTag = group user/Sudhanshu Gupta (sudhanshu-gupta)
